/* index.html */


* {
    margin: 0px;
    padding: 0px;
}
/* cuerpo */
body {
background:whitesmoke;
    border: 0px solid black;
    margin: 0px
}


.division {
  
    border: 1px groove #fbc531;
    background: #000000;
}

.imagen {
    border: 1px solid black;
    margin: 15px 0px  1px 100px ;
    width:400px;
}

/* menu con estilo  */
table {
    float: right;
    margin-top: 100px;
    margin-right: 200px;
}

    /* login */

.login_registrarse{
    background: none;
    color:#fff;
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    text-decoration: none;
    padding: 3px;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 3px;
}
.icono_encabezado{
    margin-left: 10px;
    padding: 5px;
}

.login_registrarse:hover {
    background: #fbc531;
}

/* tabla */
   
.tabla a {
    margin: 30px;
    padding: 9px;
    color:white;
    font-family:sans-serif;
    font-size: 20px;
    border: 3px solid black;
    
    }
    

.clase a {
   color: white;
	text-decoration: none;
	background: black;

}


.clase a:hover {
    background: #fbc531;
}

/* subtitulo */

.titulo a {
    text-decoration: none;
color: black;
font-size: 20px;
}

.titulo {
    text-align: center;
    background:#fbc531 ;
    padding: 1px;
    font-family: sans-serif;

}

/* segundo menu */

.enlace {
    border: 1px solid black;
}

.enlace a {
display: inline-block;
text-decoration: none;
padding: 20px;
color: white;
font-family: sans-serif;
font-size: 30px;

}


.enlace a:hover {
    background: #fbc531;
}

.enlace {   
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    text-align: center;
    padding: 0px;
    background: black;
}


/* tercer menu */
.clase2 li a {
    
    padding: 0px;
    display: inline-block;
     text-decoration:none ;
     color: white;      
}
.clase2 video {
    float: right;
    margin-right: 360px;
    width: 900px;
    margin-right:200px;
}

article {
border: 1px solid black;
margin-top: 20%;
display: block;
margin-left: 33%;
margin-right: 50%;
}



/* menu de la etiqueta aside */
aside {
   
    
    background: black;
    margin-right: 1470px;
    margin-left: 93px;
    padding: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
 
}



.busca li a {
    border: 1px solid black;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    

}
.titulo2 {
  
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 20px;
  color: white;
}
/* primera informacion con imagenes autos */




.titulo3 {
    text-align: center;
    margin-left: 25em;
    color: #fbc531;
    font-family: sans-serif;
}


.texto p {
    text-align: center;
    border: 1px solid black;
padding-bottom: 25px ;
margin-top: 50px ;
margin-left : 50em;
display:inline-block;
padding-top:25px ;
padding-left: 15px;
padding-right: 15px;
font-family: sans-serif;
background: #000000;
color: white;
}

.texto img {
    float: right;
    margin-right: 15em;
    padding-bottom: 2em;
   margin-top: 3em;
}


/* segunda informacion con imagenes minivan */

.segundo {
    text-align: center;
    margin-left: 38em;
    font-family: sans-serif;
    color: #fbc531 ;
}


.segundo img {
    float: right;
margin-right: 15em;
    height:150px;
    margin-top: 2em;
}

.segundo p{
    padding-top:30px;
    width: 400px;
    height: 90px;
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
   

}



.hijo {
    border: 1px solid black;
    margin-right: 40px;
    margin-left: 200px;
    color: white;
    background: black;
}

.segundo {
    text-align: center;
    margin-left: 38em;
    font-family: sans-serif;
    color: #fbc531 ;
}

/* tercera informacion con imagenes bus cama */

.tercero img {
    float: right;
    margin-right: 15em;
    height:150px;
    margin-top: 2em;
}

.tercero p{
    padding-top:30px;
    width: 400px;
    height: 90px;
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
    font-family: sans-serif ;
   

}

.hija {
    border: 1px solid black;
    margin-right: 40px;
    margin-left: 800px;
    color: white;
    background: black;
}

.tercero h2 {
    text-align: center;
    margin-left: 25em;
    color: #fbc531;
    font-family: sans-serif;
    
}

/* cuarta informacion con imagenes transporte aereo */

.cuarto img {
    float: right;
margin-right: 15em;
    height:150px;
    margin-top: 2em;
}

.cuarto p{
    padding-top:30px;
    width: 400px;
    height: 90px;
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
    font-family: sans-serif ;
   

}

.mascota {
    border: 1px solid black;
    margin-right: 40px;
    margin-left: 800px;
    color: white;
    background: black;
}

.cuarto h2 {
    text-align: center;
    margin-left: 25em;
    color: #fbc531;
    font-family: sans-serif;
}






/*pie de pagina */

    
    
 
.imagenfinal {
 
    
    margin: 15px 0px  1px 100px ;
    padding-bottom: 30px;
}

.terminando h2 {
    
    margin-left: 320px;
    padding-bottom: 15px;

    
}



.terminando table {
    
    margin-right: 413px;
    
    
}

.papa1 {
  
    margin-left: 320px;
    
}

.papa2 {
 
    margin-left: 320px;
   
}

.fin {
    text-align: center;
    color: white;
    
}

.terminando1 a{
    text-decoration: none;
    color: white;
}
.terminando2 a {
    text-decoration: none;
    color: white;
}

.papa2 a {
    text-decoration: none;
    color: white;
}

.papa1 a {
    text-decoration: none;
    color: white;
}



.html{
    text-align: center;
    font-family: sans-serif;
    font-weight: 30px;
}




/* fin de el index */








/* modificación */





.espacio_header{
    border: 3px groove rgb(138, 129, 129);
    margin-top: 20px;
}

.reseña_historia{
    margin-top: 20px;
    margin-right: 700px;
    margin-left: 100px;
}

.parrafo_reseña{
    font-size: 20px;
    font-family: sans-serif;
}


.titulo_historia{
margin-left: 300px;
margin-right: 900px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: georgia;
}

.imagen_1_index{
    width: 400px;
    height: 400px;
margin-right: 200px;
float: right;

}

.contentido_imagen_portada{
    width: 1898px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
  
    background-size: 100% 100%;
    animation: animacion 10s infinite alternate ease;
}

@keyframes animacion{
    0%,15%{background-image: url(/wireframe/IMAGENES\ TOCSAC/laguna.jpeg);
        opacity: 1;
    }
    16%,19%{
        opacity: 0.1;
    }
    20%,45%{background-image: url(/wireframe/IMAGENES\ TOCSAC/imagen23.jpeg);
        opacity: 1;
    }
    46%,49%{
        opacity: 0.1;
    }
    50%,70%{background-image: url(/wireframe/IMAGENES\ TOCSAC/imagen22.jpeg);
        opacity: 1;
    }
    71%,74%{opacity: 0.1;
    }
    75%,90%{background-image: url(/wireframe/IMAGENES\ TOCSAC/juanjui.jpeg);
        opacity: 1;
    }
    91%,94%{opacity: 0.1;
    }
    95%,100%{background-image: url(/wireframe/IMAGENES\ TOCSAC/selva.jpeg);
        opacity:1;
    }
}





/* articulos */

.contenedor_1
{
    margin-right: 1350px;
    margin-left: 100px;
    margin-top: 60px;
}

.contenedor_2{
    margin-right: 700px;
    margin-left: 700px;
    margin-top: -142px;
}



.division_video_presentacion{
    margin-left: 50px;
    margin-top: 100px;
}

.video_presentacion{
    width: 1200px;
    height: 500px;
}

.division_imagen_referencia{
    margin-left: 1250px;
    margin-right: 190px;
}

.imagen_referencia{
    width: 400px;
    height: 400px;
    margin-top: -1000px;
    margin-left: -1px;
}

.icono_1{
margin-right:10px;
color: blue ;
}


.contenedor_enlace{
    text-align: center;
    font-family: sans-serif;
    margin-bottom: -2px;
}
.contenedor_enlace2{
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
}

.contenedor_enlace a{
    color: brown;
    text-decoration: none;
    cursor: pointer;
}

.contenedor_enlace2 a {
    color: brown;
    text-decoration: none;
    cursor: pointer;
}

.contenedor_enlace2 :hover{
    color: red;
}

.contenedor_enlace :hover{
    color: red;
}

footer{
    margin-top: 20px;
    background: black;
    color: white;

}

.texto_eslogan{
    margin-right: 650px;
    text-align: center;
   
    font-size: 50px; 
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.contenedor_parrafo{
    font-family: sans-serif;
    font-size: 16px;
}

.contenedor_parrafo1{
    font-family: sans-serif;
    font-size: 15px;
}
.contenedor_parrafo2 {
    font-family: sans-serif;
    font-size: 15px;
}