/* index.html */


* {
    margin: 0px;
    padding: 0px;
}
/* cuerpo */
body {
background:whitesmoke;
    border: 0px solid black;
    margin: 0px
}


.division {
  
    border: 1px groove #fbc531;
    background: #000000;
    position: sticky;
    top: 0px;
}

.imagen {
    border: 1px solid black;
    margin: 15px 0px  1px 100px ;
    width:500px;
}

/* menu con estilo  */
table {
    float: right;
    margin-top: 100px;
    margin-right: 120px;
}
   
.tabla a {
margin: 30px;
padding: 9px;
color:white;
font-family:sans-serif;

font-size: 20px;
border: 3px solid black;

}


.clase a {
   color: white;
	text-decoration: none;
	background: black;

}


.clase a:hover {
    background: #fbc531;
}

/* subtitulo */

.titulo a {
    text-decoration: none;
color: black;
font-size: 20px;
}

.titulo {
    text-align: center;
    background:#fbc531 ;
    padding: 1px;
    font-family: sans-serif;

}

/* segundo menu */

.enlace {
    border: 1px solid black;
}

.enlace a {
display: inline-block;
text-decoration: none;
padding: 20px;
color: white;
font-family: sans-serif;
font-size: 30px;

}


.enlace a:hover {
    background: #fbc531;
}

.navegacion {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.enlace {   
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    text-align: center;
    padding: 0px;
    background: black;
}




/* tercer menu */
.clase2 li a {
    
    padding: 0px;
    display: inline-block;
     text-decoration:none ;
     color: white;      
}
.clase2 video {
    float: right;
    margin-right: 360px;
    width: 900px;
    margin-right:200px;
}

article {
border: 1px solid black;
margin-top: 20%;
display: block;
margin-left: 33%;
margin-right: 50%;
}



/* menu de la etiqueta aside */
aside {
   
    
    background: black;
    margin-right: 1470px;
    margin-left: 93px;
    padding: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
 
}



.busca li a {
    border: 1px solid black;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    

}
.titulo2 {
  
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 20px;
  color: white;
}
/* primera informacion con imagenes autos */




.titulo3 {
    text-align: center;
    margin-left: 25em;
    color: #fbc531;
    font-family: sans-serif;
}


.texto p {
    text-align: center;
    border: 1px solid black;
padding-bottom: 25px ;
margin-top: 50px ;
margin-left : 50em;
display:inline-block;
padding-top:25px ;
padding-left: 15px;
padding-right: 15px;
font-family: sans-serif;
background: #000000;
color: white;
}

.texto img {
    float: right;
    margin-right: 15em;
    padding-bottom: 2em;
   margin-top: 3em;
}


/* segunda informacion con imagenes minivan */

.segundo {
    text-align: center;
    margin-left: 38em;
    font-family: sans-serif;
    color: #fbc531 ;
}


.segundo img {
    float: right;
margin-right: 15em;
    height:150px;
    margin-top: 2em;
}

.segundo p{
    padding-top:30px;
    width: 400px;
    height: 90px;
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
   

}



.hijo {
    border: 1px solid black;
    margin-right: 40px;
    margin-left: 200px;
    color: white;
    background: black;
}

.segundo {
    text-align: center;
    margin-left: 38em;
    font-family: sans-serif;
    color: #fbc531 ;
}

/* tercera informacion con imagenes bus cama */

.tercero img {
    float: right;
    margin-right: 15em;
    height:150px;
    margin-top: 2em;
}

.tercero p{
    padding-top:30px;
    width: 400px;
    height: 90px;
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
    font-family: sans-serif ;
   

}

.hija {
    border: 1px solid black;
    margin-right: 40px;
    margin-left: 800px;
    color: white;
    background: black;
}

.tercero h2 {
    text-align: center;
    margin-left: 25em;
    color: #fbc531;
    font-family: sans-serif;
    
}

/* cuarta informacion con imagenes transporte aereo */

.cuarto img {
    float: right;
margin-right: 15em;
    height:150px;
    margin-top: 2em;
}

.cuarto p{
    padding-top:30px;
    width: 400px;
    height: 90px;
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
    font-family: sans-serif ;
   

}

.mascota {
    border: 1px solid black;
    margin-right: 40px;
    margin-left: 800px;
    color: white;
    background: black;
}

.cuarto h2 {
    text-align: center;
    margin-left: 25em;
    color: #fbc531;
    font-family: sans-serif;
}






/*pie de pagina */

footer {
    
    background: black;
    margin-top: 150px;
    color: white;
}
 
.imagenfinal {
 
    
    margin: 15px 0px  1px 100px ;
    padding-bottom: 30px;
}

.terminando h2 {
    
    margin-left: 320px;
    padding-bottom: 15px;

    
}



.terminando table {
    
    margin-right: 413px;
    
    
}

.papa1 {
  
    margin-left: 320px;
    
}

.papa2 {
 
    margin-left: 320px;
   
}

.fin {
    text-align: center;
    color: white;
    
}

.terminando1 a{
    text-decoration: none;
    color: white;
}
.terminando2 a {
    text-decoration: none;
    color: white;
}

.papa2 a {
    text-decoration: none;
    color: white;
}

.papa1 a {
    text-decoration: none;
    color: white;
}




/* fin de el index */






























