*{
    margin: 0px;
    padding: 0px;
}

body {
    background:whitesmoke;
        border: 0px solid black;
        margin: 0px
    }
    
    
    .division {
      
        border: 1px groove #fbc531;
        background: #000000;
        position: sticky;
        top: 0px;
    }
    
    .imagen {
        border: 1px solid black;
        margin: 15px 0px  1px 100px ;
        width:500px;
    }
    
    /* menu con estilo  */
    table {
        float: right;
        margin-top: 100px;
        margin-right: 120px;
    }
       

    .tabla a {
    margin: 30px;
    padding: 9px;
    color:white;
    font-family:sans-serif;
    
    font-size: 20px;
    border: 3px solid black;
    
    }
    
    
    .clase a {
       color: white;
        text-decoration: none;
        background: black;
    
    }
    
    
    .clase a:hover {
        background: #fbc531;
    }
    
    /* subtitulo */
    
    .titulo a {
        text-decoration: none;
    color: black;
    font-size: 20px;
    }
    
    .titulo {
        text-align: center;
        background:#fbc531 ;
        padding: 1px;
        font-family: sans-serif;    
    }
    .trabajando {
        border: 1px solid black;
        color:white;
        background: black;
        text-decoration: underline;
        margin-bottom: 40px;
        margin-left:100px;
        margin-top: 30px;
        margin-right: 1080px;
        padding-left:  40px;
        padding-right: 20px;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 20px;
        font-size: 23px;
        font-family: sans-serif;

    }

    .parrafo1 {
        font-family: sans-serif;
        border: 1px solid black;
        text-align: left;
        margin-left: 100px;
        margin-right: 1080px;
       padding-bottom:20px;
       padding-left: 20px;
       padding-right: 10px;
    }

    .parrafo1 p {
      font-family: sans-serif;
        font-size: 25px;
        margin-top: 30px;
        text-align: left;
    } 

    .parrafo2 h2{
        font-family: sans-serif;
        font-size: 40px;
        text-align: left;
        margin-right: 550px;
        margin-top: 40px;
        text-decoration: underline;
    }

    .parrafo3 h2 {
        text-decoration: underline;
        font-size: 40px;
        margin-top: 40px;
    }    

    .video {
        float: right;
        margin-right: 250px;
        margin-top: 100px;
    }

    .contacto {
       
        text-align: center;
        margin-left: 800px;
        margin-right: 750px;
        margin-top: 60px;
        padding-right: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: sans-serif;
        color: white;
        background: black;
    }













/*formulario*/



main{
    text-align: center;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.formulario__label{
    display: block;
    font-weight:700;
    padding: 10px;
    cursor: pointer;
}
formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 35%;
    background: #fff;
    border:3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40 0 10px;
    transition: .3s ease all;
}
.formulario__input:focus{
    border:3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgb(31, 10, 10);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{

    position: absolute;
    right: 34%;
    font-size: 30px;
    margin-top: 10px;
   opacity: 0;
    z-index: 100;
}

.primera_division{
    margin-top: 40px;
}

.formulario__mensaje {
border-radius: 3px;
background: #f66068;
padding: 10px;
margin-left: 45em;
margin-right: 45em;
display: none;
}

.formulario__mensaje-activo{
    display:block;
}


.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 10%;
    background: black;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgb(126, 122, 122);
}

.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;
}
 

/* validacion*/

.formulario__grupo-correcto .formulario__validacion-estado{

color: #1ed12d;
opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;  
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}
















    footer {
    
        background: black;
        margin-top: 150px;
        color: white;
    }
     
    .imagenfinal {
     
        
        margin: 15px 0px  1px 100px ;
        padding-bottom: 30px;
    }
    
    .terminando h2 {
        
        margin-left: 320px;
        padding-bottom: 15px;
    
        
    }
    
    
    
    .terminando table {
        
        margin-right: 413px;
        
        
    }
    
    .papa1 {
      
        margin-left: 320px;
        
    }
    
    .papa2 {
     
        margin-left: 320px;
       
    }
    
    .fin {
        text-align: center;
        
    }
    
    .terminando1 a{
        text-decoration: none;
        color: white;
    }
    .terminando2 a {
        text-decoration: none;
        color: white;
    }
    
    .papa2 a {
        text-decoration: none;
        color: white;
    }
    
    .papa1 a {
        text-decoration: none;
        color: white;
    }
    
    
    
    
    /* fin de el index */



























































    footer {
    
        background: black;
        margin-top: 150px;
        color: white;
    }
     
    .imagenfinal {
     
        
        margin: 15px 0px  1px 100px ;
        padding-bottom: 30px;
    }
    
    .terminando h2 {
        
        margin-left: 320px;
        padding-bottom: 15px;
    
        
    }
    
    
    
    .terminando table {
        
        margin-right: 413px;
        
        
    }
    
    .papa1 {
      
        margin-left: 320px;
        
    }
    
    .papa2 {
     
        margin-left: 320px;
       
    }
    
    .fin {
        text-align: center;
        
    }
    
    .terminando1 a{
        text-decoration: none;
        color: white;
    }
    .terminando2 a {
        text-decoration: none;
        color: white;
    }
    
    .papa2 a {
        text-decoration: none;
        color: white;
    }
    
    .papa1 a {
        text-decoration: none;
        color: white;
    }
    
    
    
    
    /* fin de el index */


