body{
    margin: 0px;
    padding: 0px;
    background: url(/wireframe/IMAGENES\ TOCSAC/1.jpeg) no-repeat center top ;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box{
    width: 400px;
    height: 440px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.contrasena{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    display: block;
}

.correo {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}


.login-box input[type = "email"],
.login-box input[type = "password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.boton_registro {
    border: none;
    height: 40px;
    background: rgb(219, 5, 5);
    color: #000;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 75px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.no {
    margin-top: 50px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    cursor: pointer;
}
 .no a {
     color: darkgrey;
 }

 .no a:hover {
     color: #fff;
 }

 .boton_activo:hover {
    background: rgb(228, 32, 32);
    animation: boton 2s infinite alternate ease;
 }

 @keyframes boton {
     0%{background: red;}
     10%{background: green;}
     20%{background: yellow;}
     30%{background: blue;}
     40%{background: orange;}
     50%{background: pink;}
     60%{background: greenyellow;}
     70%{background: darkmagenta;}
     80%{background: yellowgreen;}
     90%{background: lightskyblue;}
     100%{background: orchid;}

 }































