/* alejandro.htlm */
* {
    margin: 0px;
    padding: 0px;
}
/* cuerpo */
body {
background:whitesmoke;
    border: 0px solid black;
    margin: 0px
}

/* inicio de encabezado */

.imagen1 {
    border: 1px solid black;
    margin: 15px 0px  1px 100px ;
    width:500px;
}

.tabla1 {
    float: right;
    margin-top: 260px;
margin-right: 100px;
}

.tabla1 a {
    margin: 30px;
    padding: 9px;
    text-decoration: none;
    color:white;
    font-family:sans-serif;
    text-transform: uppercasIe;
    font-size: 20px;
    border: 3px solid black;
}

.clase26 th a {
    text-align: none;
	background: black;
}
.clase26 a:hover {
    background: #fbc531;
}

.suma {
    position: -webkit-sticky;
    top: 0px;
    position: sticky;
    border: 1px groove #fbc531;
    background: #000000;
}

.title {
    text-align: center;
    background:#fbc531 ;
    padding: 10px;
    font-family: sans-serif;
}

.title a {
    text-decoration: none;
    color: black;
}

/* fin de encabezado */



/* inicio de la primera parte rutas */


.mapageneral {
    border: 1px solid black;
}


.mapa h1 {
    text-align: center;
    }
    





