* {
    margin: 0px;
    padding: 0px;
}
/* cuerpo */
body {
background:whitesmoke;
    border: 0px solid black;
    margin: 0px
}


.division {
  
    border: 1px groove #fbc531;
    background: #000000;
    position: sticky;
    top: 0px;
}

.imagen {
    border: 1px solid black;
    margin: 15px 0px  1px 100px ;
    width:500px;
}

/* menu con estilo  */
table {
    float: right;
    margin-top: 100px;
    margin-right: 120px;
}
   
.tabla a {
    margin: 30px;
    padding: 9px;
    color:white;
    font-family:sans-serif;
    
    font-size: 20px;
    border: 3px solid black;
    }
    
    
    .clase a {
       color: white;
        text-decoration: none;
        background: black;
    
    }
    
    .clase a:hover {
        background: #fbc531;
    }

    .titulo a {
        text-decoration: none;
        color: black;
    }
    
    .titulo {
        text-align: center;
        background:#fbc531 ;
        padding: 2px;
        font-family: sans-serif;
    }
   
    .abcd {
        border: 1px solid black;
        margin-left: 200px;
        margin-right: 1000px;
        margin-top: 30px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .efgh {
        border: 1px solid black;
        margin-left: 100px;
        margin-right: 900px;
        margin-top: 30px;
        margin-bottom: 400px;
        padding-bottom: 50px;
        text-align: left;
        font-size: 40px;
        padding-left: 10px;
        padding-top: 5px;
    }

    .rasta h2 {
        text-align: left;
        margin-left: 20px;
        text-decoration: underline;
    }

    .comentarista h2 {
        text-align: left;
        margin-left: 20px;
        text-decoration: underline;
    }
    
    .ijkl video {
        border: 1px solid red;
        float: right;
        margin-top: 150px;
        margin-right: 50px;
    }


























        




